@*Lista degli studenti e possibilità di richiedere l'amicizia*@
@model ErasEasyLife.Models.Studente
@{
    ViewBag.Title = "Students list";
    Layout = "~/Views/Shared/StudenteMenu.cshtml";
}
@{

    List<string> nazionalita = new List<string>() { "--Choose nationality---", "Italian", "French", "English", "German", "Spanish", "Polish", "Austrian", "Portuguese", "Belgian", "Switzerla", "Albanian", "Vltava", "Greek", "Montenegrin", "Bulgarian", "Romanian", "Swedish", "Finnish", "Dutch", "Danish", "Slovak", "Lithuanian", "Latvian", "Estonian", "Hungarian", "Norwegian", "Belarusian", "Slovenian", "Irish", "Maltese", "Luxembourg", "Icelandic" };
    Dictionary<string, string> bandiere = new Dictionary<string, string> {
              {"Italian", "https://www.countryflags.io/it/shiny/24.png" },
                {"French", "https://www.countryflags.io/fr/shiny/24.png" },
                {"German", "https://www.countryflags.io/de/shiny/24.png" },
                {"English", "https://www.countryflags.io/gb/shiny/24.png" },
                {"Spanish", "https://www.countryflags.io/es/shiny/24.png" },
                {"Polish", "https://www.countryflags.io/pl/shiny/24.png" },
                {"Austrian", "https://www.countryflags.io/at/shiny/24.png" },
                {"Portuguese", "https://www.countryflags.io/pt/shiny/24.png" },
                {"Belgian", "https://www.countryflags.io/be/shiny/24.png" },
                {"Switzerland", "https://www.countryflags.io/ch/shiny/24.png" },
                {"Albanian", "https://www.countryflags.io/al/shiny/24.png" },
                {"Vltava", "https://www.countryflags.io/md/shiny/24.png" },
                {"Greek", "https://www.countryflags.io/gr/shiny/24.png"},
                {"Montenegrin", "https://www.countryflags.io/me/shiny/24.png" },
                {"Bulgarian", "https://www.countryflags.io/bg/shiny/24.png" },
                {"Romanian", "https://www.countryflags.io/ro/shiny/24.png" },
                {"Swedish", "https://www.countryflags.io/se/shiny/24.png" },
                {"Finnish", "https://www.countryflags.io/fi/shiny/24.png" },
                {"Dutch",  "https://www.countryflags.io/nl/shiny/24.png" },
                {"Danish", "https://www.countryflags.io/dk/shiny/24.png"  },
                {"Slovak", "https://www.countryflags.io/sk/shiny/24.png" },
                {"Lithuanian", "https://www.countryflags.io/lt/shiny/24.png" },
                {"Latvian",  "https://www.countryflags.io/lv/shiny/24.png"},
                {"Estonian",  "https://www.countryflags.io/ee/shiny/24.png"},
                {"Hungarian",  "https://www.countryflags.io/hu/shiny/24.png"},
                {"Norwegian",  "https://www.countryflags.io/no/shiny/24.png" },
                {"Belarusian", "https://www.countryflags.io/by/shiny/24.png" },
                {"Slovenian",  "https://www.countryflags.io/si/shiny/24.png" },
                {"Irish", "https://www.countryflags.io/ie/shiny/24.png"},
                {"Maltese",  "https://www.countryflags.io/mt/shiny/24.png" },
                {"Luxembourg", "https://www.countryflags.io/lu/shiny/24.png" },
                {"Icelandic",  "https://www.countryflags.io/is/shiny/24.png" }
            };
}


    @if (ViewBag.uni >= 2)
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Students list</h1>
            </div>
        </div>




        <div class="card p-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <center>
                        <div class="input-group mb-2 ">
                            <select class="custom-select" name="@Html.NameFor(model => model.nazionalita)">


                                @foreach (var nazione in nazionalita)
                                {

                                    <option value="@nazione">
                                        @nazione
                                    </option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn bg-gradient-green btn-sm"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </center>

                </div>



            }
            <div>

                @if (ViewData["studenti"] != null)
                {
                    <div class="row">
                        @{
                            foreach (var studente in ViewData["studenti"] as IList<ErasEasyLife.Student.Studente>)
                            {
                                bool richiesta_inviata = false;
                                bool richiesta_ricevuta = false;
                                bool conferma = false;
                                <div class="col-sm-4">
                                    <div class="card">
                                        <center>
                                            <div class="card-header bg-green">
                                                <img src="@bandiere[studente.nazionalita]" />
                                                @studente.nome @studente.cognome
                                            </div>
                                            <div class="card-body bg-light">
                                                <p><i class="fas fa-envelope"></i> @studente.email</p>
                                                <p><i class="fas fa-city"></i> @studente.citta</p>

                                                @{
                                                    List<ErasEasyLife.Student.Studente> mie_richieste = ViewData["mie_richieste"] as List<ErasEasyLife.Student.Studente>;
                                                    List<ErasEasyLife.Student.Studente> altri_richieste = ViewData["altri_richieste"] as List<ErasEasyLife.Student.Studente>;
                                                    List<ErasEasyLife.Student.Studente> conferme = ViewData["conferme"] as List<ErasEasyLife.Student.Studente>;
                                                    foreach (var r in mie_richieste) //controlli vari per fare apparire il pulsante/ messaggio giusto
                                                    {
                                                        if (r.IdStud == studente.IdStud)
                                                        {
                                                            richiesta_ricevuta = false;
                                                            richiesta_inviata = true;
                                                        }

                                                    }
                                                    foreach (var r in altri_richieste)
                                                    {
                                                        if (r.IdStud == studente.IdStud)
                                                        {
                                                            richiesta_ricevuta = true;
                                                            richiesta_inviata = false;
                                                        }

                                                    }
                                                    foreach (var c in conferme)
                                                    {
                                                        if (c.IdStud == studente.IdStud)
                                                        {
                                                            conferma = true;
                                                        }

                                                    }
                                                    if (richiesta_ricevuta == true)
                                                    {
                                                        <p class="text-warning">
                                                            <b>He has sent you a friend request</b>
                                                        </p>
                                                        <a href="@Url.Action("RIchieste_Amicizia", "Studente")">
                                                            <button class="bg-secondary">Go to the requests</button>
                                                        </a>
                                                    }
                                                    else if (richiesta_inviata == true)
                                                    {
                                                        <p class="text-green">
                                                            <b>Request sent</b>
                                                        </p>
                                                        using (Html.BeginForm("Annulla_Richiesta", "Studente", FormMethod.Post))
                                                        {

                                                            <div class="form-group">
                                                                <input type="hidden" value="@studente.IdStud" name="idstud" />
                                                                <input type="submit" class="a bg-gradient-danger" value="Cancel request" />
                                                            </div>
                                                        }
                                                    }
                                                    else if (conferma == true)
                                                    {
                                                        <div class="alert alert-info" role="alert">
                                                            <b>Friendship confirmed</b>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        using (Html.BeginForm("Richiesta_Amicizia", "Studente", FormMethod.Post))
                                                        {

                                                            <div class="form-group">
                                                                <input type="hidden" value="@studente.IdStud" name="idstud" />
                                                                <input type="submit" class="a bg-gradient-green" value="Request friendship" />
                                                            </div>
                                                        }
                                                    }
                                                    if (studente.instagram != "")
                                                    {
                                                        <a href="@studente.instagram"><img src="~/adminlte/img/instagram_logo.png" width="36px" height="36px"></a>
                                                    }
                                                    if (studente.facebook != "")
                                                    {
                                                        <a href="@studente.facebook"><img src="~/adminlte/img/facebook_logo.png" width="36px" height="36px"></a>
                                                    }

                                                }

                                            </div>
                                        </center>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                }

            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <b>WARNING! You don't have privileges to access the page.</b><br />
            Your must be inserted minimum 2 universities before (sending university and receiving university).
            <br /> @Html.ActionLink("Insert University", "Registra_Uni")
        </div>
    }


