@model ErasEasyLife.Models.Studente
@{
    ViewBag.Title = "Friends List";
    Layout = "~/Views/Shared/StudenteMenu.cshtml";
}
@{ 

    List<string> nazionalita = new List<string>() { "--Choose nationality---", "Italian", "French", "English", "German", "Spanish", "Polish", "Austrian", "Portuguese", "Belgian", "Switzerla", "Albanian", "Vltava", "Greek", "Montenegrin", "Bulgarian", "Romanian", "Swedish", "Finnish", "Dutch", "Danish", "Slovak", "Lithuanian", "Latvian", "Estonian", "Hungarian", "Norwegian", "Belarusian", "Slovenian", "Irish", "Maltese", "Luxembourg", "Icelandic" };
    Dictionary<string, string> bandiere = new Dictionary<string, string> {
              {"Italian", "https://www.countryflags.io/it/shiny/24.png" },
                {"French", "https://www.countryflags.io/fr/shiny/24.png" },
                {"German", "https://www.countryflags.io/de/shiny/24.png" },
                {"English", "https://www.countryflags.io/gb/shiny/24.png" },
                {"Spanish", "https://www.countryflags.io/es/shiny/24.png" },
                {"Polish", "https://www.countryflags.io/pl/shiny/24.png" },
                {"Austrian", "https://www.countryflags.io/at/shiny/24.png" },
                {"Portuguese", "https://www.countryflags.io/pt/shiny/24.png" },
                {"Belgian", "https://www.countryflags.io/be/shiny/24.png" },
                {"Switzerland", "https://www.countryflags.io/ch/shiny/24.png" },
                {"Albanian", "https://www.countryflags.io/al/shiny/24.png" },
                {"Vltava", "https://www.countryflags.io/md/shiny/24.png" },
                {"Greek", "https://www.countryflags.io/gr/shiny/24.png"},
                {"Montenegrin", "https://www.countryflags.io/me/shiny/24.png" },
                {"Bulgarian", "https://www.countryflags.io/bg/shiny/24.png" },
                {"Romanian", "https://www.countryflags.io/ro/shiny/24.png" },
                {"Swedish", "https://www.countryflags.io/se/shiny/24.png" },
                {"Finnish", "https://www.countryflags.io/fi/shiny/24.png" },
                {"Dutch",  "https://www.countryflags.io/nl/shiny/24.png" },
                {"Danish", "https://www.countryflags.io/dk/shiny/24.png"  },
                {"Slovak", "https://www.countryflags.io/sk/shiny/24.png" },
                {"Lithuanian", "https://www.countryflags.io/lt/shiny/24.png" },
                {"Latvian",  "https://www.countryflags.io/lv/shiny/24.png"},
                {"Estonian",  "https://www.countryflags.io/ee/shiny/24.png"},
                {"Hungarian",  "https://www.countryflags.io/hu/shiny/24.png"},
                {"Norwegian",  "https://www.countryflags.io/no/shiny/24.png" },
                {"Belarusian", "https://www.countryflags.io/by/shiny/24.png" },
                {"Slovenian",  "https://www.countryflags.io/si/shiny/24.png" },
                {"Irish", "https://www.countryflags.io/ie/shiny/24.png"},
                {"Maltese",  "https://www.countryflags.io/mt/shiny/24.png" },
                {"Luxembourg", "https://www.countryflags.io/lu/shiny/24.png" },
                {"Icelandic",  "https://www.countryflags.io/is/shiny/24.png" }
            };
    List<ErasEasyLife.Student.Studente> amici = ViewData["amici"] as List<ErasEasyLife.Student.Studente>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friends List</title>
</head>
<body>
    @if (ViewBag.uni >= 2)
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">My friends</h1>
            </div>
        </div>

        <div class="row">
            @{
                foreach (var studente in amici)
                {

                    <div class="col-sm-4">
                        <div class="card">
                            <center>
                                <div class="card-heder ">

                                    <img src="@bandiere[studente.nazionalita]" />
                                    <a href="https://wa.me/@studente.tel" class="text-dark"> @studente.nome @studente.cognome </a>
                                </div>

                            </center>
                        </div>
                    </div>

                }
            }

        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    else
    {
<div class="alert alert-warning" role="alert">
    <b>WARNING! You don't have privileges to access the page.</b><br />
    Your must be inserted minimum 2 universities before (sending university and receiving university).
    <br /> @Html.ActionLink("Insert University", "Registra_Uni")
</div>
    }
</body>
</html>

