@*Elenco delle università dello studente loggato*@
@{
    ViewBag.Title = "My universities";
    Layout = "~/Views/Shared/StudenteMenu.cshtml";
}
    @{ 
        ErasEasyLife.Student.Studente stud = (ErasEasyLife.Student.Studente)Session["Studente"];
    }
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">My Universities</h1>
        </div>
    </div>
        <section class="container">

            @if (ViewData["universita"] != null)
            {

                <div class="row">
                    @foreach (var uni in ViewData["universita"] as IList<ErasEasyLife.Student.Frequentazione>
                        )
                    {
                        <div class="col-sm-6">
                            <article class="card text-center">
                                <section class="card-header bg-green">
                                    @if (uni.tipo == "Sending")
                                    {
                                        <div>
                                            <i class="fa fa-plane-departure"></i>
                                            &nbsp; <b>@uni.tipo univesity</b> 


                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <i class=" fa fa-plane-arrival"></i>


                                            &nbsp; <b>@uni.tipo univesity</b>
                                        </div>


                                    }

                                </section>
                                <section class="card-body">
                                    
                                        <h2>@uni.universita.nome</h2>
             
                                        <div>
                                            <i class="fas fa-city"></i>

                                            &nbsp; <b>City:</b> @uni.universita.citta<br />
                                            <i class="fas fa-globe-europe"></i>
                                            &nbsp; <b>State:</b> @uni.universita.stato
                                        </div>
                                     

</section>
                        </article>
                     </div>

                    }
                </div>
            }



        </section>

    




