@model ErasEasyLife.Models.Studente
@{
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}



    <center>

        <div class="login-card-body">
            <div class="card-body  ">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p class="display-4">Login</p>
                    <div class="input-group  mb-3" style="margin-left:15%;">
                        <input type="email" class="form-control" placeholder="Email" name="@Html.NameFor(model => model.email)">
                        <div class="input-group-append bg-white">
                            <div class="input-group-text bg-white">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group  mb-3" style="margin-left:15%;">
                        <input type="Password" class="form-control" placeholder="Password" name="@Html.NameFor(model => model.password)">
                        <div class="input-group-append bg-white">
                            <div class="input-group-text bg-white">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>




                    <!-- /.col -->
                    <div class="col-4">

                        <button type="submit" class="btn bg-green btn-block">Sign in</button>
                    </div>

                }

                <div class="col-4 mt-2">
                    <a href="@Url.Action("Index", "Home")" class="text-white"><i class="fas fa-arrow-left"></i>Back</button></a>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
        @if (ViewBag.message != null)
        {
        <div class="alert alert-danger mt-3" role="alert" style="width:40%">
            @ViewBag.message
        </div>
        }
    </center>
