
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/StudenteMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profilo</title>
</head>
<body>
    @{

        ErasEasyLife.Student.Studente stud = (ErasEasyLife.Student.Studente)Session["Studente"];

    }
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">@ViewBag.Title</h1>
            </div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Nome</b></div><div class="col-6">@stud.nome</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Cognome</b></div><div class="col-6">@stud.cognome</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Data di nascita</b></div><div class="col-6">@stud.data_n</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Città</b></div><div class="col-6">@stud.citta</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Stato</b></div><div class="col-6">@stud.stato</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Nazionalità</b></div><div class="col-6">@stud.nazionalita</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Telefono</b></div><div class="col-6">@stud.tel</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Email</b></div><div class="col-6">@stud.email</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Instagram</b></div><div class="col-6">@stud.instagram</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Facebook</b></div><div class="col-6">@stud.facebook</div></div></li>
            </ul>
        </div>
    </div>
</body>
</html>
