
@{
    ViewBag.Title = "ErasEasyLife";
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}


    <div class="jumbotron " style="background-color:#666666">

        <center><img src="~/adminlte/img/ERASEASYLIFE.png" /></center>
        @*<h1 class="display-2 text-center"> @ViewBag.Title</h1>*@
        <h4 class="lead text-center text-white"><b>Erasmus Activity after the covid 19 </b></h4>
    </div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-cyan card-outline">
            <div class="card-header">
                <h2 class="m-0 text-center">Association</h2>
            </div>
            <div class="card-body">
                <h6 class="card-title text-cyan">Are you an Association?</h6>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <a href="@Url.Action("Registra", "Associazione")" class="btn bg-gradient-cyan">Sign up</a>
                <a href="@Url.Action("Login", "Associazione")" class="btn bg-gradient-cyan">Sign in</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-teal card-outline">
            <div class="card-header">
                <h2 class="m-0 text-center">Volunteer</h2>
            </div>
            <div class="card-body ">
                <h6 class="card-title text-teal">Are you a Volunteer?</h6>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                <a href="@Url.Action("Registra", "Volontario")" class="btn bg-gradient-teal ">Sign up</a>
                <a href="@Url.Action("Login", "Volontario")" class="btn bg-gradient-teal">Sign in</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-green card-outline">
            <div class="card-header">
                <h2 class="m-0 text-center">Student</h2>
            </div>
            <div class="card-body">
                <h6 class="card-title text-green">Are you a student?</h6>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                <a href="@Url.Action("Registra", "Studente")" class="btn bg-gradient-green">Sign up</a>
                <a href="@Url.Action("Login", "Studente")" class="btn bg-gradient-green">Sign in</a>
            </div>
        </div>
    </div>
</div>

