@*Home page*@
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}
   

    <div class="jumbotron " style="background-color:#666666">

        <center><img src="~/adminlte/img/ERASEASYLIFE.png" /></center>
        <h4 class="lead text-center text-white"><b>Erasmus Activity after the covid 19 </b></h4>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-cyan card-outline">
                <div class="card-header">
                    <h2 class="m-0 text-center">Association</h2>
                </div>
                <div class="card-body text-center">
                    <h4 class=" text-cyan ">Are you an Association? </h4>
                    <p>Sign up here to create awesome events, meetings for your volunteers and manage them easily directly by your dashboard!</p>
                    <a href="@Url.Action("Registra", "Associazione")" class="btn bg-gradient-cyan">Sign up</a>
                    <a href="@Url.Action("Login", "Associazione")" class="btn bg-gradient-cyan">Sign in</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-teal card-outline">
                <div class="card-header">
                    <h2 class="m-0 text-center">Volunteer</h2>
                </div>
                <div class="card-body text-center">
                    <h4 class=" text-teal">Are you a Volunteer? </h4>
                    <p>If you are in an association, or you would like to be, sign up here. You may have to wait to be an active member by the association, to partecipate to the events or meetings. In this section you can look your meetings, events where you're assigned to and your other colleagues.</p>

                    <a href="@Url.Action("Registra", "Volontario")" class="btn bg-gradient-teal ">Sign up</a>
                    <a href="@Url.Action("Login", "Volontario")" class="btn bg-gradient-teal">Sign in</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-green card-outline">
                <div class="card-header">
                    <h2 class="m-0 text-center">Student</h2>
                </div>
                <div class="card-body text-center">
                    <h4 class=" text-green text-center">Are you a student? </h4>
                    <p> Here begins your fantastic experience! You'll always be up to date in every event of every association, join them directly by your dashboard, find other students like you and make new friends! All of this is easier on ErasEasyLife!</p>

                    <a href="@Url.Action("Registra", "Studente")" class="btn bg-gradient-green">Sign up</a>
                    <a href="@Url.Action("Login", "Studente")" class="btn bg-gradient-green">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <footer >
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Created by Francesca Rossi & Leandro Corsano
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 ErasEasyLife <a href="https://adminlte.io" class="text-white">AdminLTE.io</a></strong><span class="text-white">All rights reserved.</span>
    </footer>
