@model ErasEasy_web.Models.AssociazioneModel

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div>
    <h4>AssociazioneModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.citta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.citta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.via)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.via)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
