
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - ErasEasyLife</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style type="text/css">


        .login-card-body {
            width: 40%;
            background-color: gray;
            margin-top: 8%;
            color: black;
        }
    </style>
</head>
<body>
   <div class="wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
            @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        

    <!-- REQUIRED SCRIPTS -->
    <!-- @Scripts.Render("~/bundles/jquery")-->
    @Scripts.Render("~/bundles/bootstrap")
    <!--@Scripts.Render("~/adminlte/js")-->
    <!-- @RenderSection("scripts", required: false)-->
</body>
</html>
