@{
    ViewBag.Title = "Meeting List";
    Layout = "~/Views/Shared/VolontarioMenu.cshtml";
    ErasEasyLife.Volunteer.Volontario v = (ErasEasyLife.Volunteer.Volontario)Session["volontario"];


    Dictionary<int, string> Mesi = new Dictionary<int, string> { { 1, "January" }, { 2, "Febbruary" },
                                                                        { 3 , "March" }, {4, "Avril" }, {5, "May" },
                                                                        {6, "June" }, {7, "July" }, {8, "August" } , {9, "September" } , {10, "October" },
                                                                         {11, "November" }, {12, "December" }   };
}


    @if (v.ruolo != "") //controllo che il volontario sia stato approvato
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4 text-center">Meeting List</h2>
            </div>
        </div>

        <section class="container">

            @if (ViewData["riunioni"] != null)
            {

                <div class="row">
                    @foreach (var E in ViewData["riunioni"] as IList<ErasEasyLife.Event.Svolgimento>
                        )
                        {
                        <div class="col-sm-6">
                        <article class="card text-center">
                            <section class="card-header bg-teal">
                                <time>
                                    @{
                                        DateTime Date1 = DateTime.Parse(E.data_i);
                                        
                                    }
                                    <h3>
                                        @Date1.DayOfWeek.ToString() @Date1.Day.ToString() @Mesi[Date1.Month]
                                    </h3>
                                </time>
                            </section>
                            <section class="card-body">

                                <h2>@E.evento.nome</h2>
                                <div >
                                    <i class="fa fa-clock"></i>
                                    <time>
                                         &nbsp; <b>Start:</b> @E.ora_i<br />
                                         &nbsp; <b>End:</b> @E.ora_f
                                    </time>
                                </div>
                                <div >
                                    
                                    <p>
                                        <i class="fa fa-map-marker"></i>
                                        &nbsp; @E.luogo.via   &nbsp;  @E.luogo.citta, @E.luogo.stato
                                    </p>

                                </div>
                                @using (Html.BeginForm("Dettagli_Riunione", "Evento", FormMethod.Post))
                                {

                                    <input type="hidden" value="@E.evento.IdEv" name="idev" />
                                    <input type="submit" class="a bg-gradient-teal" value="Details" />

                                }
                            </section>
                        </article>
                </div>

            }
            </div>
            }



        </section>

    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <b>ATTENZIONE! Non hai i privilegi per accedere a questa pagina.</b><br />
            La tua associazione non ti ha ancora confermato come suo volontario
        </div>

    }





