@*Informazione sulla riunione scelta*@
@{
    ViewBag.Title = "Meeting Details";
    Layout = "~/Views/Shared/AssociazioneMenu.cshtml";
    ErasEasyLife.Event.Svolgimento s = ViewData["evento"] as ErasEasyLife.Event.Svolgimento;
    List<ErasEasyLife.Event.Volontario> volontari = ViewData["volontari"] as List<ErasEasyLife.Event.Volontario>; //volontari partecipanti
    int n_volontari = volontari.Count();
    /*converto in datetime per sfruttare le funzioni sulle date*/
    DateTime Date1 = DateTime.Parse(s.data_i);
    DateTime Date2 = DateTime.Parse(s.data_f);
 
    }
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">@s.evento.nome</h1>
        </div>
    </div>
@{ 
  
    string color;
    if(n_volontari>0)
    {
        color = "bg-success";
    }
    else
    {
        color = "bg-danger";
    }
}
<div class="row">

    <div class="col-sm-12">
        <div class="small-box @color">
            <div class="inner text-center">
                <h1 class="display-2"> @n_volontari</h1>

                <h3>Volunteers booked</h3>
            </div>
        </div>
    </div>
</div>
@*Pulsanti*@
    <div class="row pb-1">
        <div class="col-sm-5 text-right">
            <a href="@Url.Action("Elenco_eventi", "Associazione")"><button class="a .btn .btn-app bg-secondary"><i class="fas fa-arrow-left"></i>Back</button></a>&nbsp;
        </div>
        <div class="col-sm-2 text-center">

            @using (Html.BeginForm("Edit_Riunione", "Associazione", FormMethod.Post))
            {

                <input type="hidden" value="@s.evento.IdEv" name="idev" />
                <button type="submit" class="a .btn .btn-app bg-secondary "><i class="fas fa-edit"></i>Edit Meeting</button>

            }
        </div>
        <div class="col-sm-5 text-left">
            @using (Html.BeginForm("Elimina_Evento", "Associazione", FormMethod.Post))
            {

                <input type="hidden" value="@s.evento.IdEv" name="idev" />
                <button type="submit" class="a .btn .btn-app bg-secondary"><i class="fas fa-trash-alt"></i>Delete Meeting</button>

            }

            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-cyan text-center">
                    <h3> Informations</h3>
                </div>
                <div class="card-body text-center">
                    <blockquote class="blockquote " style="border-left: .2rem solid green;"><i class="fas fa-file-alt"></i>&nbsp; @s.evento.descrizione</blockquote>
                    <p><i class="fas fa-map-marked-alt"></i><b> &nbsp; Place:</b> @s.luogo.via (@s.luogo.citta, @s.luogo.stato)</p>
                    <p><i class="fas fa-calendar"></i><b> &nbsp; Date:</b> @Date1.ToString("dd/MM/yyy")  </p>
                    <p>
                        <i class="fas fa-clock"></i><b> &nbsp; Hour :</b>  @s.ora_i-@s.ora_f
                    </p>


                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-cyan text-center">
                    <h3> Volunteers partecipating</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        @foreach (var vol in volontari)
                        {

                            <li class="list-group-item">
                                <i class="fas fa-user"></i> @vol.nome @vol.cognome &nbsp;
                                <a href="mailto:@vol.email"><i class="fas fa-envelope"></i></a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


