@*Lisa di riunioni create e effettuate da una certa associazione*@
@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/AssociazioneMenu.cshtml";
    /*liste per la gestione dei giorni e dei mesi*/
    Dictionary<string, string> Giorni = new Dictionary<string, string> { { "Monday", "Lunedì" }, { "Tuesday", "Martedì" },
                                                                        { "Wednesday", "Mercoledì" }, {"Thursday", "Giovedì" }, {"Friday", "Venerdì" },
                                                                        {"Saturday", "Sabato" }, {"Sunday", "Domenica" } };
    Dictionary<int, string> Mesi = new Dictionary<int, string> { { 1, "January" }, { 2, "Febbruary" },
                                                                        { 3 , "March" }, {4, "Avril" }, {5, "May" },
                                                                        {6, "June" }, {7, "July" }, {8, "August" } , {9, "September" } , {10, "October" },
                                                                         {11, "November" }, {12, "December" }   };

        ErasEasyLife.Association.Associazione ass = (ErasEasyLife.Association.Associazione)Session["Associazione"];
    }


    <section class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4 text-center">Upcoming Meeting</h2>
            </div>
        </div>
        @if (ViewData["riunioni"] != null)
        {

            <div class="row">
                @foreach (var E in ViewData["riunioni"] as List<ErasEasyLife.Association.Svolgimento>
                    )
                {

                    <div class="col-sm-6">
                        <article class="card text-center">
                            <section class="card-header bg-cyan">
                                <time>
                                    @{
                                        DateTime Date1 = DateTime.Parse(E.data_i);

                                    }
                                    <h3>
                                        @Date1.DayOfWeek.ToString() @Date1.Day.ToString() @Mesi[Date1.Month]
                                    </h3>
                                </time>
                            </section>
                            <section class="card-body">

                                <h2>@E.evento.nome</h2>
                                <div>
                                    <i class="fa fa-clock"></i>
                                    <time>
                                        &nbsp; <b>Start:</b> @E.ora_i<br />
                                        &nbsp; <b>End:</b> @E.ora_f
                                    </time>
                                </div>
                                <div>

                                    <p>
                                        <i class="fa fa-map-marker"></i>
                                        &nbsp; @E.luogo.via   &nbsp;  @E.luogo.citta, @E.luogo.stato
                                    </p>

                                </div>
                                @using (Html.BeginForm("Dettagli_Riunione", "Associazione", FormMethod.Post))
                                {

                                    <input type="hidden" value="@E.evento.IdEv" name="idev" />
                                    <input type="submit" class="a bg-gradient-cyan" value="Details" />

                                }

                            </section>
                        </article>
                    </div>

                }
            </div>
        }



    </section>





