@model ErasEasyLife.Models.Associazione
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/StudenteMenu.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Associations list</title>
</head>
<body>
    @if (ViewBag.uni >= 2)
    {
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">Elenco Associazioni</h1>
            </div>
        </div>

        <div class="card p-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <center>
                        <div class="input-group mb-2 ">
                            <select class="custom-select" name="@Html.NameFor(model => model.citta)">


                                @foreach (var cit in ViewData["citta"] as IEnumerable<string>)
                                {

                                    <option value="@cit">
                                        @cit
                                    </option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn bg-gradient-green btn-sm"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </center>

                </div>
            }
            <div>

                @if (ViewData["elenco_associazioni"] != null)
                {
                    <div class="row">
                        @{
                            foreach (var associazione in ViewData["elenco_associazioni"] as IEnumerable<ErasEasyLife.Association.Associazione>)
                            {
                                <div class="col-sm-4">
                                    <div class="card">
                                        <center>
                                            <div class="card-header bg-green">

                                                @associazione.nome
                                            </div>
                                            <div class="card-body bg-light">
                                                <p><b>Contatti:</b></p>
                                                <p><i class="fas fa-city"></i> @associazione.citta<br /> Address @associazione.via </p>
                                                <p><i class="fas fa-phone-alt"></i> @associazione.tel</p>
                                                <p><a href="mailto:@associazione.email"><i class="fas fa-envelope"></i></a> @associazione.email</p>

                                            </div>
                                        </center>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                }

            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <b>WARNING! You don't have privileges to access the page.</b><br />
            Your must be inserted minimum 2 universities before (sending university and receiving university).
            <br /> @Html.ActionLink("Insert University", "Registra_Uni")
        </div>
    }
</body>
</html>
