
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/AssociazioneMenu.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    @{

        ErasEasyLife.Association.Associazione ass = (ErasEasyLife.Association.Associazione)Session["Associazione"];

    }
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">@ViewBag.Title</h1>
            </div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Name</b></div><div class="col-6">@ass.nome</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>City</b></div><div class="col-6">@ass.citta</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Address</b></div><div class="col-6">@ass.via</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>State</b></div><div class="col-6">@ass.stato</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Phone</b></div><div class="col-6">@ass.tel</div></div></li>
                <li class="list-group-item"><div class="row"><div class="col-6"><b>Email</b></div><div class="col-6">@ass.email</div></div></li>
                

            </ul>
        </div>
    </div>
</body>
</html>
