

@{
    ViewBag.Title = ViewData[;
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
    ErasEasyLife.Association.Associazione ass = (ErasEasyLife.Association.Associazione)
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profilo</title>
</head>
<body>
    <div>
        <h4>Associazione</h4>
        <hr />
        <dl class="dl-horizontal">
            
            <dt>
                @ViewData["Nome"]
            </dt>
    
            <dd>
                @ViewData["Nome"]
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.citta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.citta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.stato)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.stato)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.via)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.via)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
