@model ErasEasyLife.Models.Associazione
@{
    Layout = "~/Views/Shared/WhitoutMenu.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        /* Made with love by Mutiullah Samim*/
        .login-card-body {
            display: compact;
            width: 40%;
            background-color: lightgray;
            position: absolute;
            top: 220px;
            left: 430px;
            color: #20c997;
        }
    </style>
</head>


<body>
    <center>

        <div class="card mt-5">
            <div class="card-body login-card-body ">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p class="display-4">Login</p>
                    <div class="form-group">
                        <i class="fas fa-user"></i>
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-lock"></i>
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <!-- /.col -->
                    <div class="col-4">

                        <button type="submit" class="btn bg-teal btn-block">Accedi</button>
                    </div>

                }


            </div>
            <!-- /.login-card-body -->
        </div>

    </center>
</body>
</html>